/*Shadows colors*/
/*Background colors*/
/*Font styles*/
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0px;
    padding: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-s;
    overflow: hidden;
}

body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
}

.principal-container {
    min-height: 100vh;
    width: 100%;
    background-color: #267365;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 45vw;
    place-content: center;
    width: 40em;
    height: 28em;
    border-radius: 21px 21px 21px 21px;
}

.mid-container {
    border: 1px solid #f29f05;
    padding: 2em;
}

.mid-container:nth-child(1) {
    background: linear-gradient(180deg, #f2cb05 0%, #f29f05 45.31%, #f28705 100%);
    box-shadow: 4px -4px 4px rgba(26, 25, 25, 0.501);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300pc;
}

.mid-container:nth-child(2) {
    background-color: #fff;
    box-shadow: -4px -4px 4px rgba(26, 25, 25, 0.501);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 300pc;
}

.mid-container form {
    display: flex;
    flex-direction: column;
    grid-gap: 12px;
    align-items: center;
}

.logo-container {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal-title {
    font-size: x-large;
    font-weight: 500;
    margin-bottom: 0.5em;
    color: #f29f05;
    text-align: center;
}

.footer {
    background-color: rgb(242, 159, 5);
    color: rgb(255, 255, 255);
    width: 100vw;
    height: 2rem;
    position: absolute;
    bottom: 0vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2em;
}

.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1094px) {
    .form-container {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 32em;
        transition: all;
    }

    .mid-container:nth-child(1) {
        visibility: hidden;
        display: none;
    }

    .principal-title {
        text-align: center;
    }

    .logo_image_mobile {
        max-width: 100%;
        width: 100%;
        height: 6em;
        object-fit: fill;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('../img/Logo.jpg');
        background-position: center;
    }
}

@media screen and (max-width: 360px) {
    .form-container {
        display: flex;
        flex-direction: column;
        height: 80vh;
        width: 92vw;
        transition: all;
    }

    .mid-container {
        padding: 0em;
    }

    .mid-container:nth-child(1) {
        visibility: hidden;
        display: none;
    }

    .principal-title {
        text-align: center;
    }

    .logo_image_mobile {
        max-width: 100%;
        width: 100%;
        height: 5.5em;
        object-fit: fill;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('./assets/img/logo1.png');
        background-position: center;
    }
}


/* Portrait layout (default) */
.app {
    background-color: white !important;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: unset;
    justify-content: center;
    height: -webkit-fill-available;
    width: 100vw;
    text-align: center;
    overflow: hidden;
}

.btn {
    width: 80%
}

input[type="text"] {
    width: 76%;
    margin: 0px auto;
    font-size: 1.5em
}


input[type="text"]::placeholder {
    color: #31d2f2;
    font-size: 0.8em
}

.btn-success {
    width: 40% !important;
    background-color: orange !important;
    border: 2px solid rgba(255, 136, 0, 0.856) !important;
}



h1 {
    font-size: 24px;
    font-weight: normal;
    margin: 0px;
    overflow: visible;
    padding: 0px;
    text-align: center;
}

.imagen-container {
    height: 200px;
    max-height: 200px;
}


img {
    object-fit: contain;
    width: fit-content;
    height: 300px;
}

.event {
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0px 30px;
    padding: 2px 0px;
}

.event.listening {
    background-color: #333333;
    display: block;
}

.event.received {
    background-color: #4B946A;
    display: none;
}

#deviceready.ready .event.listening {
    display: none;
}

#deviceready.ready .event.received {
    display: block;
}

@keyframes fade {
    from {
        opacity: 1.0;
    }

    50% {
        opacity: 0.4;
    }

    to {
        opacity: 1.0;
    }
}

.blink {
    animation: fade 3000ms infinite;
    -webkit-animation: fade 3000ms infinite;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}


@media screen and (prefers-color-scheme: dark) {
    body {
        background-image: linear-gradient(to bottom, #585858 0%, #1B1B1B 51%);
    }
}

@media screen and (max-width: 400px) {
    .footer_responsive {
        font-size: smaller;
    }
}