#map {
    width: 100vw;
    height: 100vh
}

#app {
    width: 40vw;
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0
}

.chat {
    display: flex;
    flex-direction: column;
    place-items: center;
    flex: 1 1 0;
    width: 300px;
    height: 330px;
    position: absolute;
    right: 0px;
    bottom: 10px;
    z-index: 9999;
    background-color: white;
    border-radius: 12px;
    box-shadow: 2px 2px 4px silver;
    border: 2px solid silver
}

.contaniner_chat{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
}

.chat_title {
    text-align: center;
    width: 100%;
    height: 21px;
    background-color: silver;
    border-top-right-radius: 2px;
    border-bottom: 3px solid #6e6e6e;
    border-top-left-radius: 2px;
}


.chat form {
    display: flex;
}

.chat_users {
    height: 100%;
    width: 100%;
    background-color: #e3e3e3;
    border-right: 2px solid silver;
}

.chat_messages-users {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: inherit;
    width: 100%;
    background-color: white;
}

.chat_users_form-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}

.chat_users_messages-users input {
    padding: 3px
}

.chat_users_message {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    overflow-y: scroll
}

/* #messages .message:nth-of-type(2n+1) {
    background-color: #f2f2f2;
    text-align: right;
} */
#messages .message:nth-child(odd) {
    background-color: #c8cbcd;
    border-bottom: 1px solid silver;
}